AIRFLOW_UID=49003

# NOTE: This is a sample value - do not use this as your key!
# Use `cryptography.fernet.Fernet.generate_key()` to get the value.
# @see https://cryptography.io/en/latest/
FERNET_KEY="AUTaX6SE0pZxO3vMtnWv41FylXN3DqZKTF4bvRbS2Dg="
TIND_API_KEY=To be filled in
TIND_API_URL=To be filled in
MOKELUMNE_TIND_DOWNLOAD_DIR="/opt/airflow/download"
MOKELUMNE_TIND_DOWNLOAD_TO_PROCESS_FILENAME = "to_process.csv"
MOKELUMNE_TIND_DOWNLOAD_SKIPPED_FILENAME = "skipped.csv"
MOKELUMNE_TIND_DOWNLOAD_XML_FILENAME = "fetch_response.xml"

