AIRFLOW_UID=49003

# NOTE: This is a sample value - do not use this as your key!
# Use `cryptography.fernet.Fernet.generate_key()` to get the value.
# @see https://cryptography.io/en/latest/
FERNET_KEY="AUTaX6SE0pZxO3vMtnWv41FylXN3DqZKTF4bvRbS2Dg="

# NOTE: This is a sample value - do not use this as your key!
# Use openssl to generate a random 32 byte hex string:
# `openssl rand -hex 32`
AIRFLOW__API_AUTH__JWT_SECRET="24827de84499e186b38416621d668b46f8b00d2b06a47d11c344751f12010dc2"

# Client secret for OIDC authentication.
# Used by keycloak-config-cli to configure the client secret and by the Airflow
# webserver to authenticate OIDC token requests for local development and testing.
OIDC_CLIENT_SECRET="decf955ae7eda314bb670b789d7289cfa4a1e49af7af87f0040532e0d3153aca"
    
# for prod, this will be "CAS"
OIDC_NAME="keycloak"
OIDC_CLIENT_ID="airflow"
OIDC_WELL_KNOWN="http://keycloak:8180/realms/berkeley-local/.well-known/openid-configuration"
OIDC_ADMIN_GROUP="cn=edu:berkeley:app:auth-cas:lib-mokelumne:lib-mokelumne-admin,ou=campus groups,dc=berkeley,dc=edu"
OIDC_USER_GROUP="cn=edu:berkeley:app:auth-cas:lib-mokelumne:lib-mokelumne-allow,ou=campus groups,dc=berkeley,dc=edu"

TIND_API_KEY=To be filled in
TIND_API_URL=To be filled in
MOKELUMNE_TIND_DOWNLOAD_DIR="/opt/airflow/download"

